@model app.ems.ui.Models.EmployeeModel

@{
    ViewBag.Title = "Index";
}
<h3><b>Create new employee:</b></h3>

@using (Html.BeginForm("Form2", "Home", FormMethod.Post))
{
<table>

    <tr>
        <td>Enter Name: </td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Submit Form" /></td>
    </tr>
</table>
}